@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,400;1,500&display=swap');

$primary-color: #272727;
$secondary-color: #fff;
$tertiary-color: #f2f2f2;
$quaternary-color: #e5e5e5;

$font-color-light: #fff;
$font-color-medium: #ccc;
$font-color-dark: #000;
$font-color-active: blue;

$font-family: 'Barlow', sans-serif;
$font-weight-light: 400;
$font-weight-bold: 500;

body {
    background: $primary-color;
    margin: 0;
    padding: 0;
    font-family: $font-family;

    .headerContainer {
        background-image: url('./assets/hero-bg/background.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);

        .navContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;

            .navLinks {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .upperLinks>.topMenu {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    margin-bottom: 0;

                    li {
                        list-style: none;
                        font-size: 1rem;
                        font-weight: $font-weight-light;
                        color: $font-color-medium;
                        cursor: pointer;

                        &:hover {
                            color: $font-color-medium;
                            font-weight: $font-weight-bold;
                        }
                    }
                }
            }

            .lowerLinks {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
            }

            .lowerLinks>.bottomMenu {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                position: relative;
                border-radius: 100px;
                background: rgb(62, 78, 88);
                background: linear-gradient(304deg, rgba(62, 78, 88, 1) 0%, rgba(11, 22, 29, 1) 97%);
                animation: fade 0.3s ease-in-out;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.8rem;
                    list-style: none;
                    font-size: 1.2rem;
                    font-weight: $font-weight-light;
                    color: $font-color-light;
                    cursor: pointer;

                    &:hover {
                        color: $font-color-light;
                        font-weight: $font-weight-bold;
                    }
                }

                .menuItems {
                    .fa-chevron-down {
                        font-size: 0.8rem;
                        color: $font-color-medium;
                    }
                }

                .searchItems {
                    background: rgb(254, 75, 26);
                    background: linear-gradient(180deg, rgba(254, 75, 26, 1) 0%, rgba(255, 116, 6, 1) 100%);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    text-align: center;
                    padding: 1rem 2rem;
                    border-radius: 100px;
                    cursor: pointer;

                    .searchInput {
                        border: none;
                        outline: none;
                        background: none;
                        color: $font-color-light;
                        font-size: 1rem;
                        font-family: $font-family;
                        font-weight: $font-weight-light;
                        padding: 0.4rem 1rem;
                        border-radius: 100px;
                        transition: all 0.3s ease-in-out;
                    }

                    .searchInput::placeholder {
                        font-family: $font-family;
                        font-weight: $font-weight-light;
                        color: $font-color-medium;
                    }

                    .searchButton {
                        background: none;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                        color: $font-color-light;
                        font-size: 1rem;
                        font-family: $font-family;
                        font-weight: $font-weight-light;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }

                }

            }

            .closeButton {
                display: none;
                cursor: pointer;
            }

            .closeButton i {
                color: #fff;
                font-size: 1.5rem;
            }

            @keyframes fade {
                from {
                    opacity: 1;
                }

                to {
                    opacity: 0;
                }
            }

            .navIcons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                i {
                    font-size: 1.7rem;
                    color: $font-color-light;
                    cursor: pointer;
                }

                .active {
                    color: $font-color-active;
                    font-size: 1.7rem;
                }
            }
        }
    }
}